html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

#container {
    /* margin: 10px auto; */
    /* width: 900px; */
    width: 100%;
    background-color: #dcdcdd;
}

#banner {
    border: 1px solid cyan;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    display: inline;
    margin: 0 30px;
}

#logoImg {
    width: 100px;
    height: auto;
}

main {
    margin: 40px 20px;
}

main p {
    font-size: 20px;
    text-align: center;
}

#links {
    display: flex;
    justify-content: center;
    margin: 40px 20px;
    /* border: 3px solid green; */
}

.link {
    width: 225px;
    height: 250px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* border: 1px solid purple; */
}

.linkImg {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: block;
}

.link a {
    font-size: 20px;
    text-decoration: none;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    /* margin: 30px 0; */
    background-color: #1985a1;
}

.article:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: #c5c3c6;
}

.articleCard {
    width: 300px;
    margin: 20px 10px;
    padding: 1px 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color: white;
}

.articleHeader {
    margin: 5px 3px;
}

.articleImg {
    width: 700px;
    /* height: auto; */
    height: 466.66px;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
}