html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

#container {
    /* margin: 10px auto; */
    /* width: 900px; */
    width: 100%;
    background-color: #fbfbf2;
}

#banner {
    /* border: 1px solid cyan; */
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    display: inline;
    margin: 0 30px;
}

#logoImg {
    width: 100px;
    height: auto;
}

#splash {
    height: 800px;
    background-image: url('https://lp-cms-production.imgix.net/2019-06/12dec8938220093eb7f1fdb8a9ce40b8-the-rocky-mountains.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4');
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-image: url('https://www.roughguides.com/wp-content/uploads/2016/02/matterhorn-shutterstock_1118486243.jpg'); */

}

#greeting {
    margin: 40px 20px;
}

#greeting p {
    font-size: 20px;
    text-align: center;
}

#links {
    /* display: flex; */
    display: none;
    justify-content: center;
    margin: 40px 20px;
    /* border: 3px solid green; */
}

.link {
    width: 225px;
    height: 250px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* border: 1px solid purple; */
}

.linkImg {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: block;
}

.link a {
    font-size: 20px;
    text-decoration: none;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gridBox {
    height: 400px;
    width: 400px;
    margin: 10px;
    background-color: #30CBCB;
    border-radius: 10px;
}

.gridImg {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    /* margin: 30px 0; */
    background-color: #e5e6e4;
}

.article:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: #a6a2a2;
}

.article:nth-of-type(even) .articleCard {
    box-shadow: 3px 3px 5px 6px #847577;
}

.articleCard {
    width: 300px;
    margin: 20px 10px;
    padding: 1px 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color: white;
}

.articleHeader {
    margin: 5px 3px;
}

.articleImg {
    width: 700px;
    /* height: auto; */
    height: 466.66px;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
}

#survey {
    min-height: 400px;
}

footer {
    /* min-height: 200px; */
    display: flex;
    flex-direction: row-reverse;
}

#contact {
    /* background-color: yellowgreen; */
    line-height: 0.5;
    margin: 0 15px 5px 0;
}

#contactHeader {
    font-weight: bold;
    text-decoration: underline;
}

.show {
    display: flex;
}